This notebook gets the data ready for the LSTM.

In [1]:
import pickle
import pandas as pd
import numpy as np
with open('check2.pkl','rb') as picfile:
    data = pickle.load(picfile)
for i in range(10):
    data[i].reset_index(inplace=True)
for i in range(10):
    del data[i]['index']

In [8]:
data[0].head()

,Mnemonic,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades,DateTime
0,BAS,94.77,94.83,94.75,94.75,7676,49,2018-02-01 08:00:00
1,BAS,94.70,94.70,94.59,94.59,1935,17,2018-02-01 08:01:00
2,BAS,94.63,94.75,94.61,94.75,5429,31,2018-02-01 08:02:00
3,BAS,94.76,94.77,94.69,94.73,3582,44,2018-02-01 08:03:00
4,BAS,94.71,94.72,94.66,94.69,8392,46,2018-02-01 08:04:00

In [2]:
dfs = []
for j in data:
    del j['Mnemonic']
    del j['MaxPrice']
    del j['MinPrice']
    #del j['TradedVolume']
    del j['NumberOfTrades']
    del j['DateTime']
    #j['logCV'] = [np.log(x+1)-np.log(y+1) for x,y in zip(j['TradedVolume'].shift(1).fillna(value=0),j['TradedVolume'].shift(2).fillna(value=0))]
    j['logC'] = [np.log(x)-np.log(y) for x,y in zip(j['EndPrice'],j['StartPrice'])]
    del j['StartPrice']
    del j['EndPrice']
    dfs.append(j)
with open('check3x1.pkl', 'wb') as picklefile:
    pickle.dump(dfs, picklefile)

In [3]:
dfs[0].head()

  TradedVolume      logC
0         7676 -0.000211
1         1935 -0.001162
2         5429  0.001267
3         3582 -0.000317
4         8392 -0.000211